@model IEnumerable<Type>
<ul>
    @foreach (var validationAttribute in Model.OrderBy(x => x.Name).Select(x => new { x.Name, Controller = x.Name.Substring(0, x.Name.Length - "attribute".Length) }))
    { 
        <li>
            @Html.ActionLink(validationAttribute.Name, "Create", validationAttribute.Controller)
        </li>    
    }
</ul>
