@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     Example website for testing out the client and server validation capabilities in the DataAnnotationsExtensions project located at <a href="https://github.com/srkirkland/DataAnnotationsExtensions/">https://github.com/srkirkland/DataAnnotationsExtensions/</a>
</p>
