@{
    ViewBag.Title = "Download";
}

<h3>NuGet Packages</h3>
<p>
    NuGet packages are available now, and they come in two flavors:
    <ul>
        <li><a href="http://nuget.org/Packages/Packages/Details/DataAnnotationsExtensions-0-2-0-0">DataAnnotationsExtensions</a>: Contains the server-side Data Annotations Extensions, which can be used in any project that can reference System.ComponentModel.DataAnnotations.</li>
        <li><a href="http://nuget.org/Packages/Packages/Details/DataAnnotationsExtensions-MVC3-0-2-0-0">DataAnnotationsExtensions.MVC3</a>: Contains both server and client side Data Annotations Extensions, automatically registered for client-side validation with ASP.NET MVC3.</li>
    </ul>
</p>
<h2>Source</h2>
<p></p>
<p>
    You can view/download the source from the <a href="http://github.com/srkirkland/DataAnnotationsExtensions">DataAnnotationsExtensions GitHub repository</a>.
</p>
