@{
    ViewBag.Title = "Download";
}

<h2>Download</h2>
<p></p>
<p>
    For now you can view/download the source from the <a href="http://github.com/srkirkland/DataAnnotationsExtensions">DataAnnotationsExtensions GitHub repository</a>.
</p>
<p>
    Soon there will be a crunchy NuGet for easy integration, and Dlls as well.
</p>
