@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome</h2>
<p>
    This site is a work in progress.
</p>
<p>
    To learn more about DataAnnotationsExtensions please look at the demos, source code or wiki.
</p>
<p>
    The GitHub project repository <a href="http://github.com/srkirkland" title="DataAnnotationsExtensions GitHub">can be found here</a>.
</p>