@{
    ViewBag.Title = "Home Page";
}

<h3>About Data Annotations Extensions</h3>
<p>
This project provides common validation attributes (full list on the left) which extend the built-in ASP.NET DataAnnotations (Required, Range, RegularExpression and StringLength).
</p>
<p>
The core library provides server-side validation attributes that can be used in any .NET 4.0 project (no MVC dependency). There is also an easily pluggable client-side validation library which can be used in ASP.NET MVC projects using unobtrusive jquery validation (only MVC included javascript files are required).
</p>
<p>
All validation attributes are covered with unit tests and also have a dedicated controller in the included sample website (click @Html.ActionLink("Demos", "Demos", "Home") to see a demonstration of each validation attribute).
</p>
<p>
    See my blog post <a href="http://weblogs.asp.net/srkirkland/archive/2011/02/23/introducing-data-annotations-extensions.aspx">Introducing Data Annotations Extensions</a> for an overview of the project as well as some examples.
</p>
<h3>NuGet Packages</h3>
<p>
    @Html.Partial("_Packages")
</p>