@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome</h2>
<p>
    This site is a work in progress.
</p>
<p>
    To learn more about DataAnnotationsExtensions please look at the demos, source code or wiki.
</p>
<p>
    The GitHub project repository <a href="http://github.com/srkirkland" title="DataAnnotationsExtensions GitHub">can be found here</a>.
</p>
<h3>About Data Annotations Extensions</h3>
<p>
Validation extensions for DataAnnotations. This project provides common validation attributes (full list on the left) which extend ASP.NET DataAnnotations (Required, Range, RegularExpression and StringLength).
</p>
<p>
The core library provides server-side validation attributes that can be used in any .NET 4.0 project (no MVC dependency). There is also an easily pluggable client-side validation library which can be used in ASP.NET MVC 3 projects using unobtrusive jquery validation.
</p>
<p>
All validation attributes are covered with unit tests and also have a dedicated controller in the included sample website (click @Html.ActionLink("Demos", "Demos", "Home") to see a demonstration of each validation attribute).
</p>