@{
    ViewBag.Title = "Home Page";
}

<h3>About Data Annotations Extensions</h3>
<p>
This project provides common validation attributes (full list on the left) which extend the built-in ASP.NET DataAnnotations (Required, Range, RegularExpression and StringLength).
</p>
<p>
The core library provides server-side validation attributes that can be used in any .NET 4.0 project (no MVC dependency). There is also an easily pluggable client-side validation library which can be used in ASP.NET MVC 3 projects using unobtrusive jquery validation (only MVC3 included javascript files are required).
</p>
<p>
All validation attributes are covered with unit tests and also have a dedicated controller in the included sample website (click @Html.ActionLink("Demos", "Demos", "Home") to see a demonstration of each validation attribute).
</p>
<h3>NuGet Packages</h3>
<p>
    NuGet packages are available now, and they come in two flavors:
    <ul>
        <li><a href="http://nuget.org/Packages/Packages/Details/DataAnnotationsExtensions-0-1-0-0">DataAnnotationsExtensions</a>: Contains the server-side Data Annotations Extensions, which can be used in any project that can reference System.ComponentModel.DataAnnotations.</li>
        <li><a href="http://nuget.org/Packages/Packages/Details/DataAnnotationsExtensions-MVC3-0-1-0-0">DataAnnotationsExtensions.MVC3</a>: Contains both server and client side Data Annotations Extensions, automatically registered for client-side validation with ASP.NET MVC3.</li>
    </ul>
</p>