@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome</h2>

<p>
    To learn more about DataAnnotationsExtensions visit <a href="http://github.com/srkirkland" title="DataAnnotationsExtensions GitHub">the project site</a>.
</p>