@{
    ViewBag.Title = "Wiki";
}

<h2>Wiki</h2>

<p>The Wiki for DataAnnotationsExtensions is currently located at <a href="https://github.com/srkirkland/DataAnnotationsExtensions/wiki">https://github.com/srkirkland/DataAnnotationsExtensions/wiki</a></p>