NuGet packages are available now, and they come in two flavors:
<ul>
    <li><a href="http://nuget.org/List/Packages/DataAnnotationsExtensions">DataAnnotationsExtensions</a>: Contains the server-side Data Annotations Extensions, which can be used in any project that can reference System.ComponentModel.DataAnnotations.</li>
    <li><a href="http://nuget.org/List/Packages/DataAnnotationsExtensions.MVC3">DataAnnotationsExtensions.MVC3</a>: Contains both server and client side Data Annotations Extensions, automatically registered for client-side validation with ASP.NET MVC3.</li>
</ul>