@{
    ViewBag.Title = "Download";
}

<h3>NuGet Packages</h3>
<p>
    @Html.Partial("_Packages")
</p>
<h2>Source</h2>
<p></p>
<p>
    You can view/download the source from the <a href="http://github.com/srkirkland/DataAnnotationsExtensions">DataAnnotationsExtensions GitHub repository</a>.
</p>
<h3>Install Notes</h3>
<p>
    <ul>
        <li>
            <a href="https://github.com/srkirkland/DataAnnotationsExtensions/wiki/VB.NET-Install-Notes">VB.NET Install Notes</a>
        </li>
    </ul>
    
</p>